@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
}
/* *,
::before,
::after {
  border-width: 0;
} */
